
   body {
     color: rgb(172, 137, 207);
     background: black;
     font-family: 'Montserrat', sans-serif;
     max-width: 800px;
     margin: 0 auto;
   }
   h1{
     font-size: 5em;
     color: White;
     background-color: rgb(172, 137, 207);
     padding:10px;
     margin:150px;
   }
   h2 {
     font-size: 2em;
     color: white;
     text-shadow: 3px 3px 3px rgb(172, 137, 207);
     font-family: 'Sigmar One', cursive;
   }
   img {
    border: 5%;
    height: 300px;
    padding: 10px;
  }